
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myChartContainer {
    width: 50vw;
}
.continentBtn {
    padding: 5px;
    margin-top: 10px;
}

.CiteisBtns {
    background-color: lightskyblue;
    padding: 5px;
    margin: 5px;
    color: white;
    cursor: pointer;
    border: solid 2px ;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}
.CiteisBtns:hover {
    color: lightseagreen;
}
.city {
    font-size: 1rem;
}

.cityCon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
}
.title {
    margin: 7px;
}
.turnScreen {
    display: none;
}

@media (max-width: 1000px) {
    .myChartContainer {
        width: 600px;
    }

    .cityCon {
        width: calc(100% - 230px);
    }
}

@media (max-width: 600px) {
    .myChartContainer {
        width: 400px;
    }

    .cityCon {
        width: calc(100% - 230px);
    }
}

@media (max-width: 600px) {
    .myChartContainer {
        display: none;
    }
    .cityCon {
        display: none;
    }
    .continentBtn {
        display: none;
    }
    .myChartContainer {
        display: none;
    }
    .turnScreen {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 20px;
    }
    .turnScreen h2 {
        text-align: center;
        font-size: 50px;
    }
}